<% if form.object.errors.any? %>
				<div class= "bg-red-500 text-white py-3 px-4 rounded-sm mb-4 gap-2" >
				<%  form.object.errors.full_messages.each do |e| %>
					<p><%= e %><p>
				<% end %>
				</div>
<% end %>